.chat_main
  .chat-main__group-info
    .group
      .group__name
        = @group.name
      .group__memberlist
        Member：
        - @group.users.each do |user|
          .group__memberlist__member
            = user.name
    = link_to '#', class: "edit-btn" do
      Edit
  .chat-main__message-list
    .messagebox
      .messagebox__namedate
        .messagebox__namedate__name
          suzuki
        .messagebox__namedate__date
          2020年06月26日 11時30分
      .messagebox__text
        おはよう
    .messagebox
      .messagebox__namedate
        .messagebox__namedate__name
          suzuki
        .messagebox__namedate__date
          2020年06月26日 11時35分
      .messagebox__text
        こんにちは
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "content"}, local: true do |f|
      .content__contents
        = f.text_field :content, class: "content__contents__message", placeholder: "type a message"
        = f.label :image, class: "content__contents__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "content__contents__image__icon"
      = f.submit 'Send', class: "submit"